body  {
    font-size: 1.15rem;
    font-family: Times New Roman;
}

@media (max-width: 1000px) {
    body {
        padding-right: 0vw;
    }
}

@media (min-width: 1001px) {
    body {
        padding-right: 40vw;
    }
}

.expanded-thumb {
    height: 500px
}
.expandedWebm {
    height: 500px
}
